<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Squirro Text Summary</title>
    <link rel="stylesheet" href="../static/table.css">

</head>
<body>

<div style="display: flex;">
  <input type="text" id='input-text' style="flex: 1;">
  <input type="submit" value="Summarize" onclick="summarize_text()">
</div>

<div style="display: inline-block;">
  <input type="number" id='input-id' style="flex: 1;">
  <input type="submit" value="Get Summary" onclick="get_summary()">
    <p style="float:left; width:30%">Current ID:</p>
    <p id="summary-id">None</p>
</div>

<div class="row">
    <div class="column">
        <div class="card">
            <h2>Original Text</h2>
            <p id="long-text"></p>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <h2>Text Summary</h2>
            <p id="text-summary"></p>
        </div>
    </div>
</div>

<script src="../static/summarizer.js"></script>
</body>
</html>